# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

Commitment sprint #1.docx
Commitment sprint #1.pdf
Project plan PA1414.docx
Report week 36.docx
Report week 37.docx
Rough sketch of timeline vizulization.png
Slutrapport individuell-1.docx